on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  # 1: Build - tests
  build:
    uses: sarafogo/pipeline_templates/.github/workflows/build.yml@main
    secrets: inherit
      

  #3: deploy
  deploy:
    needs: build
    uses: sarafogo/pipeline_templates/.github/workflows/deploy-app.yml@main
 